<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Add this line -->
    </ion-buttons>
    <ion-title>Injustice Details</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="injusticeUrl">
  <p>Public URL: {{ injusticeUrl }}</p>
  <ion-button (click)="copyToClipboard(injusticeUrl)">
    <ion-icon name="copy"></ion-icon> Copy
  </ion-button>
</div>
<ion-item>
  <ion-label>Status Active</ion-label>
  <ion-checkbox [(ngModel)]="injusticeDetails.status" (ionChange)="toggleInjusticeStatus()"></ion-checkbox>
</ion-item> 
<ion-content>
  <div class="ion-padding-horizontal">
    <h2>{{ injusticeDetails.title }}</h2>
    <p>
      <ion-icon name="calendar"></ion-icon> <!-- Your date information here -->
    </p>
    <p>
      {{ injusticeDetails.description }}
    </p>
    
  </div>

  <ion-button *ngIf="contactId" (click)="viewContactDetails()">
    View Contact Details
  </ion-button>

  <!-- Notes Section -->
<div class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Notes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let note of notes; let i = index">
      <ion-label>
        <span [class.text-wrap]="expandedNoteIds.includes(i)" (click)="toggleNoteExpansion(i)" [innerHTML]="transformNewlines(note.text)"></span>
        <div class="note-details">
          Created by: {{ note.created_by_name }} on {{ note.created_at | date:'medium' }}
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-textarea [(ngModel)]="newNoteText" placeholder="Enter new note here"></ion-textarea>
  </ion-item>
  <ion-button (click)="addNote()">Add Note</ion-button>
</div>

  <div *ngIf="injusticeDetails.media && injusticeDetails.media.length > 0">
    <!-- Images Section -->
    <!-- Images Section -->
<ion-list *ngIf="hasImages()">
  <ion-list-header>
    <ion-label>Images</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of getImageMedia()">
    <ion-thumbnail slot="start">
      <img [src]="awsBaseUrl + item.attributes.image">
    </ion-thumbnail>
    <ion-label>
      <h2>{{ getFileNameFromUrl(item.attributes.image) }}</h2>
    </ion-label>
    <ion-button [routerLink]="['/product-details-fourth']" [queryParams]="{mediaUrl: awsBaseUrl + item.attributes.image}">
      View Details
    </ion-button>
    <!-- Add any additional action buttons if needed -->
  </ion-item>
</ion-list>

   <!-- Videos Section -->
<ion-list *ngIf="hasVideos()">
  <ion-list-header>
    <ion-label>Videos</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of getVideoMedia()">
    <ion-thumbnail slot="start">
      <img src="https://rrdevours.monster/images/app/video.png">
    </ion-thumbnail>
    <ion-label>
      <!-- Use getFileNameFromUrl to display the filename -->
      <h2>{{ getFileNameFromUrl(item.attributes.video) }}</h2>
    </ion-label>
    <ion-button [routerLink]="['/product-details-fourth']" [queryParams]="{mediaUrl: awsBaseUrl + item.attributes.video}">
      View Details
    </ion-button>
    <!-- Add any additional action buttons if needed -->
  </ion-item>
</ion-list>

    <!-- Documents Section -->
<ion-list *ngIf="hasDocuments()">
  <ion-list-header>
    <ion-label>Documents</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of getDocumentMedia()">
    <ion-thumbnail slot="start">
      <img src="https://rrdevours.monster/images/app/document.png">
    </ion-thumbnail>
    <ion-label>
      <!-- Use getFileNameFromUrl to display the filename -->
      <h2>{{ getFileNameFromUrl(item.attributes.document) }}</h2>
    </ion-label>
    <!-- View Details Button -->
    <ion-button [routerLink]="['/product-details-fourth']" [queryParams]="{mediaUrl: awsBaseUrl + item.attributes.document}">
      View Details
    </ion-button>
    <!-- Add any additional action buttons if needed -->
  </ion-item>
</ion-list>

  </div>

  <div class="ion-padding">
   
    
    <ion-item-sliding *ngFor="let task of injusticeDetails.tasks" #itemSliding>
      <ion-item>
        <div class="status-icon" [class.completed]="task.status" (click)="toggleTaskStatus(task, itemSliding)">
          <ion-icon name="checkmark-circle-outline" *ngIf="task.status"></ion-icon>
          <ion-icon name="ellipse-outline" *ngIf="!task.status"></ion-icon>
        </div>
        <ion-label>
          <h2>{{ task.task_name || 'No Name' }}</h2>
          <p>{{ task.description || 'No Description' }}</p>
          <p>{{ task.due_date | date: 'mediumDate' }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="light" (click)="toggleTaskStatus(task, itemSliding)">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          Mark Complete
        </ion-item-option>
        <ion-item-option color="secondary" (click)="deleteTask(task, itemSliding)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


    
    <ion-button expand="block" (click)="openAddTaskModal()">Add Task</ion-button>
  </div>
  <!-- File Upload Section -->
  <ion-item>
    <ion-label position="stacked">Custom File Name</ion-label>
    <ion-input [(ngModel)]="customFileName"></ion-input>
  </ion-item>
  <ion-button (click)="openGallery()">Select Image</ion-button>

  <!-- File Upload Section -->
  <ion-item>
    <input type="file" (change)="onFileSelected($event)" accept=".pdf" hidden #fileInput>
    <ion-button (click)="fileInput.click()">Select PDF File</ion-button>
  </ion-item>

  <!-- New Video Upload Section -->
<ion-item>
  <ion-label position="stacked">Custom Video Name</ion-label>
  <ion-input [(ngModel)]="customVideoName"></ion-input>
</ion-item>
<input type="file" accept="video/*" (change)="onVideoSelected($event)" hidden #videoInput>
<ion-button (click)="videoInput.click()">Select Video</ion-button>

</ion-content>

<style>
  ion-item ion-label h2 {
  white-space: normal;
  text-overflow: clip;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.4;
}

.preserve-line-breaks {
  white-space: pre-wrap;
}

.text-wrap {
    word-break: break-all;
    white-space: normal;
  }

.note-details {
  margin-top: 8px; /* Adjust the space between the note text and creation info */
  font-size: smaller; /* Optionally adjust the font size */
}

.task-content {
  display: flex;
  flex-direction: column;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc; /* Stylized separation */
  padding-top: 8px; /* Space between separation line and content */
}

.status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid green;
  border-radius: 50%; /* Circle shape */

  &.completed {
    ion-icon {
      color: green;
    }
  }
}

.task-description {
  margin-bottom: 16px; /* Space between description and due date */
}

.due-date {
  font-style: italic;
}
</style>