<ion-header>
  <ion-toolbar>
    <ion-title>Add Injustice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitInjustice()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" #title required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea #description required></ion-textarea>
    </ion-item>
    <ion-button expand="full" (click)="submitInjustice(title.value, description.value)">Submit</ion-button>
  </form>
</ion-content>
