<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Latest Injustices</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let injustice of latestInjustices" button (click)="goToInjusticeDetails(injustice.id)">
      <ion-icon name="receipt-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ injustice.title }}</h2>
        <p>Contact: {{ injustice.contact?.name }}</p>
        <p>{{ injustice.created_at | date }}</p>
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Latest Tasks</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let task of latestTasks" button (click)="goToInjusticeDetails(task.injustice_id)">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ task.task_name }}</h2>
        <p>{{ task.task_description }}</p>
        <p>Injustice: {{ task.injustice_title }}</p>
        <p>Contact: {{ task.contact_name }}</p>
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Recent Injustice Notes</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let note of recentNotes" button (click)="goToInjusticeDetails(note.notable.id)">
      <ion-icon name="document-text" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ note.text }}</h2>
        <p>Contact: {{ note.notable.contact?.name }}</p>
        <p>{{ note.created_at | date }}</p>
      </ion-label>
    </ion-item>

    


  </ion-list>
  <!--<ion-list>

    <ion-list-header>
      <ion-label>Classes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name='planet' slot="start"></ion-icon>
      <ion-label>Astronomy</ion-label>
      <ion-note slot="end">
        To the moon
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="false" slot="end"></ion-toggle>
      <ion-label>
        Muggle Studies
      </ion-label>
      <ion-icon name='body' slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='leaf' slot="start"></ion-icon>
      <ion-label>Herbology</ion-label>
      <ion-icon name='rose' slot="end" color="secondary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='flask' slot="start"></ion-icon>
      <ion-label>Potions</ion-label>
      <ion-note slot="end">
        Poisonous
      </ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label>Activities</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Incantation</ion-label>
      <ion-icon name='color-wand' slot="start"></ion-icon>
      <ion-note slot="end">Crucio!</ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="true" slot="end"></ion-toggle>
      <ion-label>
        Quidditch Practice
      </ion-label>
      <ion-icon name='brush' slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='wine' slot="start"></ion-icon>
      <ion-label>Mead Drinking</ion-label>
      <ion-note slot="end">Yes please</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label>Friends</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name='flash' slot="start"></ion-icon>
      <ion-label>Harry</ion-label>
      <ion-note slot="end">The boy who lived</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='book' slot="start"></ion-icon>
      <ion-label>Hermoine</ion-label>
      <ion-note slot="end">Muggle-born</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='beer' slot="start"></ion-icon>
      <ion-label>Ron</ion-label>
      <ion-note slot="end">Brilliant!</ion-note>
    </ion-item>

  </ion-list> -->

</ion-content>
