<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
    <ion-list class="ion-padding">

      <ion-item>
        <ion-label position="stacked">Profile Photo (optional)</ion-label>
        <input type="file" (change)="onImageSelected($event)" accept="image/*" hidden #photoInput>
        <ion-button (click)="onImageSelected()">Select Photo</ion-button>
      </ion-item>
      
      <!-- Name -->
      <ion-item>
        <ion-label color="primary" position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Your Name" required [(ngModel)]="formData.name" name="name"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email"></ion-input>
      </ion-item>

      <!-- Phone -->
      <ion-item>
        <ion-label color="primary" position="stacked">Phone</ion-label>
        <ion-input type="tel" placeholder="Mobile" [(ngModel)]="formData.mobile" name="mobile"></ion-input>
      </ion-item>

      <!-- Bio -->
    <ion-item>
      <ion-label color="primary" position="stacked">Bio</ion-label>
      <ion-textarea placeholder="Bio" [(ngModel)]="formData.bio" name="bio"></ion-textarea>
    </ion-item>

    </ion-list>
  </form>

  <!-- Checkboxes for Contact Lists -->
<ion-list class="ion-padding">
  <ion-item *ngFor="let contactList of contactLists">
    <ion-label>{{ contactList.name }}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="contactList.selected" name="contactList-{{contactList.id}}"></ion-checkbox>
  </ion-item>
</ion-list>
</ion-content>


<ion-footer>
  <ion-button fill="solid" expand="full" [disabled]="!contactForm.valid" class="ion-no-margin" size="large" (click)="submitForm(contactForm)">
    Submit
  </ion-button>
</ion-footer>